<div class="commands">
    <MudButtonGroup Class="three-column" OverrideStyles="false">
        <MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick='() => Command("-")' Disabled="!Jogging.CanDecrease || Disabled" FullWidth="true"><MudIcon Icon="@Icons.Material.Filled.Remove" /></MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick='() => Command("Open")' Disabled="Disabled" FullWidth="true">@Jogging.Distance</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick='() => Command("+")' Disabled="!Jogging.CanIncrease || Disabled" FullWidth="true"><MudIcon Icon="@Icons.Material.Filled.Add" /></MudButton>
    </MudButtonGroup>
    <MudButtonGroup Class="three-column" OverrideStyles="false">
        <MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick='() => Command("F-")' Disabled="Feedrate?.CanDecrease != true || Disabled" FullWidth="true"><MudIcon Icon="@Icons.Material.Filled.Remove" /></MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick='() => Command("FOpen")' Disabled="Disabled" FullWidth="true">@Feedrate?.Feedrate</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick='() => Command("F+")' Disabled="Feedrate?.CanIncrease != true || Disabled" FullWidth="true"><MudIcon Icon="@Icons.Material.Filled.Add" /></MudButton>
    </MudButtonGroup>
    <MudButtonGroup Class="four-column" OverrideStyles="false">
        <MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick='() => Jog("X0")' Disabled="Disabled" FullWidth="true">X0</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick='() => Jog("Y0")' Disabled="Disabled" FullWidth="true">Y0</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick='() => Jog("X0Y0")' Disabled="Disabled" FullWidth="true">X0/Y0</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick='() => Jog("Z0")' Disabled="Disabled" FullWidth="true">Z0</MudButton>
    </MudButtonGroup>
    @if (Macros?.Length > 0)
    {
        <MudButton Class="macro" Variant="Variant.Filled" Color="Color.Dark" OnClick='() => RunMacro(Macros[0].Id)' Disabled="Disabled">@Macros[0].Name</MudButton>
    }
    <MudButtonGroup Class="four-column" OverrideStyles="false">
        <MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick='() => SetZero("X")' Disabled="Disabled" FullWidth="true">Zero X</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick='() => SetZero("Y")' Disabled="Disabled" FullWidth="true">Zero Y</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick='() => SetZero("XY")' Disabled="Disabled" FullWidth="true">Zero X/Y</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick='() => SetZero("Z")' Disabled="Disabled" FullWidth="true">Zero Z</MudButton>
    </MudButtonGroup>
    @if (Macros?.Length == 2)
    {
        <MudButton Class="macro" Variant="Variant.Filled" Color="Color.Dark" OnClick='() => RunMacro(Macros[0].Id)' Disabled="Disabled" FullWidth="true">@Macros[1].Name</MudButton>
    }
    else if(Macros?.Length > 2)
    {
        <MudButton Class="macro" Variant="Variant.Filled" Color="Color.Dark" OnClick='() => Command("Macro")' Disabled="Disabled" FullWidth="true">Macros</MudButton>
    }
</div>

