<div class="commands">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick='() => Command("$H")'><MudIcon Icon="@Icons.Material.Filled.LockOpen" /></MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick='() => Command("$H")'><MudIcon Icon="@Icons.Material.Filled.Replay" /></MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick='() => Command("$H")'><MudIcon Icon="@Icons.Material.Filled.Home" /></MudButton>
    <div></div>
    <div></div>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick='() => Command("$H")'>0X</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick='() => Command("$H")'>0 X/Y</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick='() => Command("$H")'>0Y</MudButton>
    <div></div>
    <div></div>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick='() => Command("-")' Disabled="!Jogging.CanDecrease"><MudIcon Icon="@Icons.Material.Filled.Remove" /></MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick='() => Command("Open")'>@Jogging.Distance</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick='() => Command("+")' Disabled="!Jogging.CanIncrease"><MudIcon Icon="@Icons.Material.Filled.Add" /></MudButton>
</div>

