<div class="info">
    <div>
        @Client.ControllerModule.Controller?.ControllerType : @Client.ControllerModule.Controller?.Port : <span class="active-state @Client.ControllerModule.ControllerState?.State?.Status?.ActiveState">@Client.ControllerModule.ControllerState?.State?.Status?.ActiveState</span>
    </div>
    <div>
        <MudButtonGroup OverrideStyles="false">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" OnClick='() => Command("Cyclestart")'><MudIcon Icon="@Icons.Material.Filled.Refresh"/></MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" OnClick='() => Command("Feedhold")'><MudIcon Icon="@Icons.Material.Filled.FrontHand"/></MudButton>
        </MudButtonGroup>
        <MudButtonGroup OverrideStyles="false">
            <MudButton Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" OnClick='() => Command("Home")'><MudIcon Icon="@Icons.Material.Filled.Home"/></MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small" OnClick='() => Command("Unlock")'><MudIcon Icon="@Icons.Material.Filled.LockOpen"/></MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" OnClick='() => Command("Reset")'><MudIcon Icon="@Icons.Material.Filled.Replay"/></MudButton>
        </MudButtonGroup>
    </div>
</div>