<div class="jogger">
    <MudButton Variant="Variant.Filled" Color="Color.Dark" @ontouchstart='() => Jog("X-Y+", true)' @ontouchend="()=>CancelJog(true)" @onmousedown='() => Jog("X-Y+")' @onmouseup='()=>CancelJog()'  Disabled="Disabled"><MudIcon Icon="@Icons.Material.Filled.NorthWest" /></MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Dark" @ontouchstart='() => Jog("Y+", true)' @ontouchend="()=>CancelJog(true)" @onmousedown='() => Jog("Y+")' @onmouseup='()=>CancelJog()' Disabled="Disabled"><MudIcon Icon="@Icons.Material.Filled.North" /></MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Dark" @ontouchstart='() => Jog("X+Y+", true)' @ontouchend="()=>CancelJog(true)" @onmousedown='() => Jog("X+Y+")' @onmouseup='()=>CancelJog()' Disabled="Disabled"><MudIcon Icon="@Icons.Material.Filled.NorthEast" /></MudButton>
    <div></div>
    <MudButton Variant="Variant.Filled" Color="Color.Dark" @ontouchstart='() => Jog("Z+", true)' @ontouchend="()=>CancelJog(true)" @onmousedown='() => Jog("Z+")' @onmouseup='()=>CancelJog()' Disabled="Disabled"><MudIcon Icon="@Icons.Material.Filled.North" /></MudButton>

    <MudButton Variant="Variant.Filled" Color="Color.Dark" @ontouchstart='() => Jog("X-", true)' @ontouchend="()=>CancelJog(true)" @onmousedown='() => Jog("X-")' @onmouseup='()=>CancelJog()' Disabled="Disabled"><MudIcon Icon="@Icons.Material.Filled.West" /></MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick='StopJogging' Disabled="Disabled"><MudIcon Icon="@Icons.Material.Filled.Stop" /></MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Dark" @ontouchstart='() => Jog("X+", true)' @ontouchend="()=>CancelJog(true)" @onmousedown='() => Jog("X+")' @onmouseup='()=>CancelJog()' Disabled="Disabled"><MudIcon Icon="@Icons.Material.Filled.East" /></MudButton>

    <div></div>
    <div></div>

    @*<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick='StopJogging' Disabled="Disabled">Z0</MudButton>*@

    <MudButton Variant="Variant.Filled" Color="Color.Dark" @ontouchstart='() => Jog("X-Y-", true)' @ontouchend="()=>CancelJog(true)" @onmousedown='() => Jog("X-Y-")' @onmouseup='()=>CancelJog()' Disabled="Disabled"><MudIcon Icon="@Icons.Material.Filled.SouthWest" /></MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Dark" @ontouchstart='() => Jog("Y-", true)' @ontouchend="()=>CancelJog(true)" @onmousedown='() => Jog("Y-")' @onmouseup='()=>CancelJog()' Disabled="Disabled"><MudIcon Icon="@Icons.Material.Filled.South" /></MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Dark" @ontouchstart='() => Jog("X+Y-", true)' @ontouchend="()=>CancelJog(true)" @onmousedown='() => Jog("X+Y-")' @onmouseup='()=>CancelJog()' Disabled="Disabled"><MudIcon Icon="@Icons.Material.Filled.SouthEast" /></MudButton>
    
    <div></div>
    <MudButton Variant="Variant.Filled" Color="Color.Dark" @ontouchstart='() => Jog("Z-", true)' @ontouchend="()=>CancelJog(true)" @onmousedown='() => Jog("Z-")' @onmouseup='()=>CancelJog()' Disabled="Disabled"><MudIcon Icon="@Icons.Material.Filled.South" /></MudButton>
</div>

